{
  "presets": [["@babel/env", { "targets": { "electron": "1.4" } }]],
  "plugins": [
    "@babel/transform-flow-strip-types",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
